@font-face {
    font-family: League;
    src: url("../fonts/League.otf");
}
@font-face {
    font-family: Finity;
    src: url("../fonts/Finity.ttf");
}
@font-face {
    font-family: Geometric;
    src: url("../fonts/Rodriguez_Geometric Paper.ttf");
}
@font-face {
    font-family: Calm;
    src: url("../fonts/KeepCalm-Medium.ttf");
}
html {
    scroll-behavior: smooth;
}
body {
    font-family: Calm;
    margin: 0;
    padding: 0;
    background-color: #f4f4f4;
    color: #333;
}
.container {
    width: 80%;
    margin: auto;
    overflow: hidden;
}
header {
    background: url('../img/mountain_with_me.jpg') no-repeat center center;
    background-size: cover;
    color: #fff;
    padding-top: 30px;
    min-height: 70px;
    border-bottom: #77ab59 3px solid;
    text-align: center;
    font-family: Finity;
    font-weight: bold;
}
header h1 {
    font-weight: normal;
    margin: 0;
    padding: 200px 0;
    font-size: 100px;
    font-family: Finity;
    color: white;
}
h2 {
    font-family: Finity;
    font-size: 30px;
}
header a {
    color: #fff;
    text-decoration: none;
    text-transform: uppercase;
    font-size: 16px;
}
header ul {
    padding: 0;
    list-style: none;
}
header ul li {
    display: inline;
    padding: 0 20px;
}
.bio, .projects {
    padding: 20px;
    background: #fff;
    margin-top: 20px;
    border: 1px solid #ddd;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}
.projects {
    display: flex;
    flex-direction: column;
    align-items: center;
}
.projects-heading {
    width: 100%;
    text-align: left;
    margin-bottom: 20px;
}
.projects-list {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 20px;
    width: 100%;
}
.project-box {
    background: #fff;
    border: 1px solid #ddd;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    width: calc(33.333% - 20px); /* Three items per row */
    text-align: center;
    overflow: hidden;
    transition: transform 0.3s ease-in-out;
}
.project-box:hover {
    transform: scale(1.05);
}
.project-box img {
    width: 100%;
    height: 150px;
    object-fit: cover;
}
.project-box a {
    display: block;
    padding: 10px;
    text-decoration: none;
    color: #333;
    font-size: 18px;
    background: #f4f4f4;
}
.project-box a:hover {
    background: #77ab59;
    color: #fff;
}
@media (max-width: 768px) {
    .project-box {
      width: calc(50% - 20px); /* Two items per row on medium screens */
    }
}
@media (max-width: 480px) {
    .project-box {
      width: 100%; /* One item per row on small screens */
    }
}
.title {
    border-style: solid;
}